.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal__container {
  position: fixed;
  margin: auto;
  max-width: 496px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 28px 28px 36px 28px;
  box-sizing: border-box;
}

.modal__title {
  margin: 0px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  background: transparent url(../../images/Union.png) center no-repeat;
  position: absolute;
  right: 30px;
  top: 22px;
  height: 16px;
  width: 16px;
  border: none;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

.form__label {
  margin-top: 24px;
  display: block;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.form__radio-buttons {
  margin-bottom: 32px;
}

.form__radio-container {
  display: flex;
  margin-top: 8px;
}

.form__input-text {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.form__input-radio {
  display: block;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.form__legend {
  margin-top: 24px;
  margin-bottom: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.form__submit {
  width: 124px;
  height: 36px;
  background-color: #000;
  opacity: 30%;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.form__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__redirect {
  all: unset;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 50%;
  margin-left: 12px;
}

.form__redirect-hidden {
  visibility: hidden;
}

.form__redirect-visible {
  visibility: visible;
}

.form__submit-options {
  display: flex;
}

.form__redirect {
  position: absolute;
  bottom: 42px;
  left: 150px;
}
