.card {
  width: 328px;
  height: 328px;
  border-radius: 7%;
  border: 1px solid;
  list-style-type: none;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__header {
  width: 73px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__title {
  margin: 0 auto;
}

.card__image {
  max-width: 75%;
  max-height: 75%;
}
