.header {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 28px;
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  max-height: 40px;
}

.header__items {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__button {
  all: unset;
}

.header__image {
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
