.modal__contents {
  position: fixed;
  max-width: 496px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.modal__image {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-height: 450px;
  margin-bottom: 20px;
}

.modal__close-preview_visible {
  background: transparent url(../../images/Union-white.png) center no-repeat;
  position: absolute;
  right: 26px;
  top: 15px;
  height: 16px;
  width: 16px;
  border: none;
  padding: 0;
  visibility: visible;
}

.modal__close-preview_hidden {
  visibility: hidden;
}

.modal__text {
  padding-left: 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.modal__delete {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
  border: none;
  padding: 0 32px 0 0;
  color: #ff4d00;
  cursor: pointer;
}

.modal__title {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
